@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/* #tsparticles {
  position: absolute;
  display: block;
} */
.example1 {
  position: absolute !important;
  top: 0;
}